body {
    background-color: rgb(252, 253, 253);
  }
  header {
    text-align: center;
    border: 3px solid #c9b1e4;
    color: rgb(20, 19, 19);
    margin-bottom: 40px;
    background-color: rgb(220, 184, 230);
  }
  header nav ul {
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
    padding-left: 70px;
    padding-right: 70px;
    color: rgb(228, 206, 233);
  }


  header nav ul li a {
    text-decoration-style: none;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  header nav ul li a:hover {
    color: red;
  }

  footer {
    text-align: center;
    border: 3px solid #c9b1e4;
    color: white;
    margin-bottom: 5px;
    background-color: rgb(229, 188, 240);
  }
  footer ul li {
    list-style: none;
    display: inline-block;
    padding-left: 70px;
    padding-right: 70px;
    color: rgb(95, 64, 89);
    font-size: 25px;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  #all_product {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
   
  }
  div {
 

  }
  img {
    width: 483px;
    height: 350px;
    border: 5px solid rgb(182, 152, 212);
    padding: 1px;
    margin-top: 50px;
    border-radius: 5px;
  }


  #finalResult {
text-align: center;
padding-top: 5px;
margin-top: 5px;
list-style-type: none;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: oblique;
color: crimson;
  }

  /* canvas{
    height: 750px !important;
    width: 600px !important;
  }
   */