body {
    background-color: rgb(186, 235, 235);
  }
  header {
    text-align: center;
    border: 5px solid #c9b1e4;
    color: white;
    margin-bottom: 40px;
  }
  header nav ul {
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 10px;
  }
  header nav ul li a {
    text-decoration: none;
    color: rgb(212, 120, 197);
    font-size: 25px;
    font-weight: 100;
  }
  header nav ul li a:hover {
    color: red;
  }
  #all_product {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  img {
    width: 350px;
    height: 300px;
    border: 8px solid rgb(182, 152, 212);
    padding: 20px;
    margin: 15px;
    border-radius: 5px;
  }

  img :hover {
    color: salmon;
  }

  #finalResult {
text-align: center;
padding-top: 5px;
margin-top: 5px;
list-style-type: none;
font-family: Georgia, 'Times New Roman', Times, serif;
border: 3px solid olive;
box-sizing: border-box;

  }